[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "*"
pytest = "*"
pygments = "*"
sphinx-removed-in = "*"
sphinxcontrib-trio = "*"

[requires]
python_version = "3.5"
